@import "../../styles/variables";
@import "~antd/es/badge/style/index";

.ant-badge.notification-btn {
  margin-right: 16px;
  button {
    color: @help-icon-color;
    padding: 4px 15px;
    border: 1px solid;
    border-radius: 100px;
    height: 21px;
    display: flex;
    font-size: 12px;
    align-items: center;
    & > .anticon-question-circle {
      margin-top: 2px;
    }
    &:hover,
    &:focus {
      color: @help-icon-color-hover;
      border-color: @help-icon-color-hover;
    }
    @media (max-width: @screen-xs) {
      border: none;
      margin-right: 6px;
      padding: 5px 10px;
      font-size: 14px;
      & > span:last-child {
        display: none;
      }
      &.ant-btn.ant-btn-link.teaching-btn {
        padding-left: 0;
      }
    }
  }
}
