@import "../../styles/variables";
@import "~antd/es/badge/style/index";

.ant-badge.notification-btn {
  margin-right: 16px;

  .ant-badge-dot {
    box-shadow: none;
    margin-top: 8px;
    right: 11px;
  }

  .anticon-bell {
    font-size: 20px;
  }

  button {
    color: @help-icon-color;

    &:hover,
    &:focus {
      color: @help-icon-color-hover;
    }
  }
}
