@import "../../styles/variables";

.app-switcher-icon {
  color: rgba(0, 0, 0, 0.65);
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.app-switcher-link {
  display: flex;
}

.app-switcher-container {
  width: 310px;
  border: 1px solid #e9e9e9;
  background-color: white;
  margin-top: 15px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 5px;
  .ant-col {
    display: flex;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    height: 100px;
    flex-direction: column;
    padding: 5px;
    cursor: pointer;
    .logo {
      height: 60px;
      display: flex;
      align-items: center;
      & > * {
        text-align: center;
        flex: 1;
        img {
          width: 50px;
        }
      }
    }
    .title {
      height: 30px;
    }

    &:hover {
      background: rgb(142, 116, 198);
      border-radius: 5px;
    }
  }
}
