{
  "semi": true,
  "useTabs": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,

  "tabWidth": 2,
  "proseWrap": "always",
  "arrowParens": "avoid",
  "trailingComma": "none",
  "quoteProps": "preserve"
}
