@import "~antd/es/transfer/style/index";
@import "../../styles/variables";
@import "./rtl";

.transfer-table {
  .ant-transfer-list {
    max-width: calc(50% - 20px);
  }
  .ant-transfer-list-header {
    display: flex;
    .ant-transfer-list-header-selected {
      flex: 1;
      text-align: end;
    }
  }
}
