@import "~antd/es/button/style/index";
@import "../../styles/variables";

.dw-btn.ant-btn {
  &.no-border {
    border: none;
    box-shadow: none;
  }

  &.highlight:not(:hover) {
    background: none;
    border: none;
    box-shadow: none;
  }

  &.highlight:hover {
    .btn-default;
  }

  &-link {
    padding-left: 0;
    padding-right: 0;
  }

  &.ant-btn-primary[disabled] {
    .btn-primary;

    &:before {
      display: block;
    }
  }
}

.theme-dark .dw-btn.ant-btn.ant-btn-primary[disabled][disabled] {
  color: gray !important;
}
