.rule-info-section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 24px 0;
  align-items: center;
  max-width: 100%;

  &-content--disabled {
    color: rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.025);
    display: flex;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
  }

  &-name {
    font-weight: 600;
  }
}
