@import "~antd/es/list/style/index";
@import "~antd/es/spin/style/index";
@import "~antd/es/grid/style/index";
@import "~antd/es/empty/style/index";
@import "~antd/es/pagination/style/index";
@import "../../styles/variables";

.ant-list-item {
  &.list-item-field {
    padding-left: @padding-xs;
    padding-right: @padding-xss;
    cursor: pointer;
    border-bottom-color: @list-item-border-color;
    flex-direction: row;
    align-items: center;
    &:hover {
      background-color: @table-row-hover-bg;
    }
    @media (max-width: 440px) {
      padding-right: 2px;
      .anticon-right {
        margin-top: 9px;
      }
    }
    @media (max-width: 340px) {
      padding-bottom: 10px;
      padding-top: 5px;
    }
    .list-item-field-container {
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
      padding-right: @padding-xss;
      .ant-list-item-meta-title {
        margin-bottom: 0;
      }
      .ant-list-item-meta-description {
        line-height: 1.3;
      }

      @media (max-width: @screen-xs-max) {
        flex-direction: column;
        align-items: flex-start;
        .value-container {
          padding-top: @padding-xs;
        }
      }
      @media (max-width: 440px) {
        height: max-content;
        flex-direction: row !important;
        align-items: flex-start !important;
        .value-container {
          align-self: center;
          margin-left: 5px;
        }
      }
    }
  }

  &.list-item-header {
    font-size: 20px;
    border-bottom-color: @list-item-border-color;
    line-height: 1.3;
  }
}
