@import "../../styles/variables";

@import "./rtl";

.help-icon {
  color: @icon-color;
  padding-top: 2px;
  margin-right: 16px;

  &:hover {
    color: @primary-color;
  }
}

.help-menu-dropdown .ant-dropdown-menu-item {
  padding-top: 2px;
  padding-bottom: 2px;
}

.subjects-dropdown {
  position: fixed !important;
}
