@import "../../styles/variables";
@import "./rtl";

button.help-icon {
  color: @help-icon-color;
  margin-right: 16px;

  .anticon-question-circle {
    font-size: 24px;
  }

  &:hover,
  &:focus {
    color: @help-icon-color-hover;
  }
}

.help-menu-dropdown .ant-dropdown-menu-item {
  padding-top: 2px;
  padding-bottom: 2px;
}

.subjects-dropdown {
  position: fixed !important;
}
