@import "../../styles/variables";

@import "./rtl";

.help-icon {
  color: @help-icon-color !important;
  padding-top: 2px;
  margin-right: 16px;
  border: 2px solid !important;
  border-radius: 100px !important;
  height: 25px !important;
  display: flex !important;
  align-items: center;
  & > .anticon-question-circle {
    margin-top: 2px !important;
  }
  &:hover {
    color: @help-icon-color-hover !important;
  }
  @media (max-width: @screen-xs) {
    border: none !important;
    margin-right: 6px;
    padding: 5px 10px !important;
    & > span:last-child {
      display: none;
    }
  }
}

.help-menu-dropdown .ant-dropdown-menu-item {
  padding-top: 2px;
  padding-bottom: 2px;
}

.subjects-dropdown {
  position: fixed !important;
}
