@import "~antd/es/back-top/style/index";
@import "../../styles/variables";

.ant-back-top.dw-back-top {
  bottom: 30px;
  right: 30px;
  .ant-back-top-content {
    background: @primary-color;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
    .ant-back-top-icon {
      background: none;
      margin: 8px auto;
    }
  }
}
