.field-image-upload-container.ant-upload.ant-upload-drag {
  --img-width: 120px;
  --img-height: 120px;
  --inner-space: 2px;

  width: var(--img-width);
  height: var(--img-height);

  .ant-upload-btn {
    padding: 0;
  }

  .ant-upload-list.ant-upload-list-picture-card {
    .ant-upload-list-picture-card-container {
      float: none;
      margin: 0;
      height: calc(var(--img-height) - var(--inner-space));
      width: calc(var(--img-width) - var(--inner-space));

      .ant-upload-list-item {
        margin: 0;
        width: calc(var(--img-width) - var(--inner-space));
        height: calc(var(--img-height) - var(--inner-space));
        padding: 0;
        border: none;
        overflow: hidden;

        .ant-upload-list-item-info {
          height: var(--img-height);

          &::before {
            top: 0;
            left: 0;
          }
        }

        &.preview-disabled:hover {
          .ant-upload-list-item-info::before {
            opacity: 0;
          }
        }
      }
    }
  }

  &.crop-shape-round {
    .ant-upload-list-picture-card-container .ant-upload-list-item {
      border-radius: 50%;
    }
  }

  &.crop-shape-rect {
    .ant-upload-list-picture-card-container .ant-upload-list-item {
      border-radius: 0;
    }
  }
}
