@import url("../RuleInfo/components/RuleInfoSection/index.less");

.rule-info-section {
  &.rule-dimension .rule-info-section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .show-all-modal-button {
      padding: 0;
      line-height: 1;
      height: 1rem;
    }
  }

  &.rule-filters .rule-info-section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .colored-tag .card-header-info-label {
      padding-right: 5px;
      font-weight: 600;
    }
  }

  &.rule-products .rule-info-section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
