@import "~antd/es/select/style/index";
@import "~antd/es/tree-select/style/index";
@import "~antd/es/style/themes/default.less";
@import "../../styles/variables";

.drawer-tree-select.ant-select-focused .ant-select-selection-search-input {
  visibility: hidden;
}

.drawer-tree-select-dropdown {
  .ant-drawer-body {
    .ant-select-tree {
      padding-top: @padding-md;
      margin-left: -@margin-lg;
    }
  }
}
