@import "~antd/es/select/style/index";
@import "~antd/es/radio/style/index";
@import "~antd/es/tree-select/style/index";
@import "../../styles/variables";

.drawer-tree-select.ant-select-focused .ant-select-selection-search-input,
.drawer-tree-select-dropdown-fake.ant-select-dropdown.ant-tree-select-dropdown {
  visibility: hidden;
}
.drawer-tree-select .ant-select-selection-search-input {
  font-size: 1px;
}
.drawer-tree-select {
  .ant-select-selection-item {
    .ant-select-selection-item-content {
      border: 0;
      background: transparent;
      margin: 0;
      padding: 0;
      font-size: 14px;
    }
  }
  span {
    & > .ant-select-selection-placeholder {
      display: none;
    }
    &:first-of-type > .ant-select-selection-placeholder {
      display: block;
    }
  }
}

.drawer-tree-select-dropdown {
  .ant-drawer-body {
    overflow: hidden;
    padding-bottom: @padding-lg - 16px;
    div + .ant-input-search,
    div + .drawer-tree-select-levels {
      margin-top: @margin-sm;
    }
    .ant-select-empty {
      margin-top: @margin-sm;
    }
    .drawer-tree-select-levels {
      width: 100%;
      display: flex;
      label {
        flex: 1;
        text-align: center;
        padding: 0;
      }
    }
    .drawer-tree-select-dropdown-toolbar {
      margin: 8px 0 4px;
      min-height: 7px;
      .ant-checkbox + span {
        padding-left: @padding-sm;
      }
    }
    .ant-select-tree {
      .tree-check-all {
        display: none;
      }

      // padding-top: @padding-md;
      margin-left: -@margin-lg;
      .tree-check-all .ant-select-tree-switcher {
        visibility: hidden;
      }
    }

    .drawer-select-loader-container {
      height: 16px;
      overflow: visible;
      .ant-skeleton-title {
        margin: 0;
      }
      .ant-skeleton-content .ant-skeleton-title + .ant-skeleton-paragraph {
        margin-top: 5px;
        li {
          width: 300px !important;
        }
      }
    }
  }

  &.drawer-tree-select-show-all {
    .ant-drawer-body {
      .ant-select-tree {
        .tree-check-all {
          display: flex;
        }
      }
    }
  }

  &.drawer-tree-select-dropdown-flat-list {
    .ant-drawer-body {
      .ant-select-tree {
        .ant-select-tree-indent {
          display: none;
        }
      }
    }
  }
}
