@import "../Button/index";
@import "~antd/es/message/style/index";
@import "../../styles/variables";

.table-menu {
  margin-left: 5px;
  margin-bottom: 5px;
  &__button.ant-btn {
    border-radius: 50%;
  }
  &__icon {
    color: @primary-color;
    font-size: 14px !important;
    padding-top: 7px;
  }
}

.table-menu-dropdown {
  margin-right: 10px;
  &__icon {
    color: @primary-color;
    font-size: 14px !important;
    &__send {
      color: @primary-color;
      & > svg {
        transform: rotate(-40deg);
        margin-left: 2.7px;
        margin-bottom: 2.7px;
      }
    }
  }
  &__divider {
    margin: 4px 10px;
  }
}

.menu-item-checkbox {
  padding: unset;
  & > label.ant-checkbox-wrapper {
    padding: 5px 12px;
  }
}
