.rule-info {
  border-left: 1px solid #f0f0f0;
  margin-left: 40px;
  padding: 12px;
  font-size: 12px;
  .rule-info-title {
    font-weight: bold;
  }
  .card-header-info-label {
    text-decoration: underline;
    padding-right: 5px;
  }
}
