@import "~antd/es/tree-select/style/index";
@import "../../styles/variables";

.dw-tree-select__dropdown {
  &--flat {
    .ant-select-tree-indent {
      display: none;
    }
    .ant-select-tree-switcher {
      width: 12px;
    }
  }
}

.ant-select-tree-treenode {
  &.tree-check-all {
    .ant-select-tree-switcher {
      visibility: hidden;
    }
  }
}

.ant-select-dropdown.drawer-dropdown {
  display: none;
}

.ant-select-tree-list-holder {
  overflow: auto !important;
}

.ant-select-tree-list-scrollbar-thumb {
  display: none;
}
