@import "~antd/es/avatar/style/index";
@import "~antd/es/dropdown/style/index";

@import "../Button/index.less";
@import "../../styles/variables";

.ant-btn.user-name {
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  .user-button-fullname {
    margin-left: @margin-xs;
  }
  .anticon-down {
    padding-top: 5px;
    font-size: 12px;
  }
}

.user-dropdown {
  .ant-dropdown-menu-item-group-title {
    color: rgba(0, 0, 0, 0.65);
  }
}
