@import "~antd/es/button/style/index";
@import "~antd/es/avatar/style/index";
@import "../../styles/variables";

.ant-btn.user-name {
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  .ant-avatar {
    margin-right: @margin-xs;
  }
  .anticon-down {
    padding-top: 5px;
    font-size: 12px;
  }
}
