@import "../../styles/variables";

.user-menu {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  background-color: @component-background;
  box-shadow: @box-shadow-base;
  width: 400px;
  padding: 16px;

  @media screen and (max-width: @screen-sm) {
    width: 320px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-name {
      font-size: 16px;
      font-weight: 600;
      margin-top: 8px;
    }

    &-email {
      font-size: 14px;
    }

    &-date {
      font-size: 14px;
      margin-top: 8px;
    }
  }

  &-items {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &-group {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      &-title {
        display: block;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  &-item {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid @border-color-base;

    &:hover {
      background-color: @app-switcher-bg-color;
      cursor: pointer;
    }

    &-text {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      font-size: 12px;
      color: fade(@text-color, 65%);
      font-weight: 400;
      align-items: flex-start;
      text-align: left;
      flex: 1 0 auto;
      width: 0;
      white-space: normal;
      line-height: normal;

      &-title {
        color: @text-color;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  &-button {
    margin-top: 12px;

    button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}