@import "../../styles/variables";
@import "../../styles/mixin/retina-image";

.ant-layout-footer.main-footer {
  border-top: 1px solid @divider-border-color;
  padding: 13px;
  text-align: center;

  .retina-image(
    "/static/images/nielsen-logo.png",
    "/static/images/nielsen-logo@2x.png",
    85px,
    30px
  );
  background-repeat: no-repeat;
  background-position: calc(100% - 12px);
  padding-right: 104px;
  @media (min-width: 700px) {
    padding-right: 13px;
  }
}
